.youtube-text-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.video-player-new {
  width: 100%;
  height: auto;
}

.text-container-new {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .youtube-text-wrapper {
    grid-template-columns: 1fr;
  }

  .video-player-new {
    width: 100%;
    height: auto;
  }
}
